{% extends 'base.html' %}

{% block title %}Habilidades Personales{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="../static/img/pensar.jpeg" class="card-img-top" alt="CERTIFICADO 1">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h2>Habilidades Personales</h2>
              <ul>
                <li>Soy muy paciente</li>
                <li>Sé y me gusta trabajar en equipo</li>
                <li>Siempre busco la forma de sacarle lo bueno a las cosas</li>
                
                <!-- Agrega más habilidades según sea necesario -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
